<!DOCTYPE html>
<html lang="en">

<%- include partials/_head.ejs%>

<body>
  <div class="container-fluid">
    <%- include partials/_header.ejs %>
    <%if (user === undefined) {%>
    <p>Please login or register to add, edit, and delete URLS</p>
    <%} else {%>

    <table class="table">
      <% for (shortened in urls) { %>

      <tr class="well">

        <td><%= urls[shortened].longLink%> &rarr; <%= shortened %> </td>
        <td>
          <form method="GET" action="/urls/<%= shortened %>">
            <input type="submit" value="Edit" class="btn btn-info">
          </form>
        </td>
        <td>
          <!-- <p>urls/<%= shortened %>/delete</p> -->
          <form method="POST" action="/urls/<%= shortened %>/delete">
            <input type="submit" value="DELETE" class="btn btn-danger">
          </form>
        </td>
      </tr>

      <% }; %>
    </table>

    <a href="/urls/new" class="btn btn-primary">New URL</a>
    <% } %>
  </div>
</body>
</html>


<!-- https://www.w3schools.com/bootstrap/bootstrap_typography.asp
https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_txt_colors&stacked=h
https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_grid_ex3&stacked=h
https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_grid_ex1&stacked=h
https://www.w3schools.com/bootstrap/bootstrap_media_objects.asp
https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_form_input_group&stacked=h
https://www.w3schools.com/bootstrap/bootstrap_buttons.asp
https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_button_elements&stacked=h -->