<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>



<body>
    <%- include partials/_header.ejs %>

  <table>
      <!-- <tr>
        <td>URL</td>
        <td>shortened</td>
      </tr> -->
      <tr>
        <% for (shortened in urls) { %>
        <td><%= urls[shortened]%> &rarr; <%= shortened %> </td>
        <td>
          <a href="/urls/<%= shortened %>">Edit</a>
         </td>
        <td>
          <!-- <p>urls/<%= shortened %>/delete</p> -->
          <form method="POST" action="/urls/<%= shortened %>/delete">
            <input type="submit" value="DELETE">
          </form>
        </td>
      </tr>
      <% }; %>
  </table>
  <a href="/urls/new">New URL</a>
</body>
</html>